---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}

<!-- Widget container with styling -->
<div class="widget-container" style="display: flex; justify-content: space-between; margin-top: 30px; flex-wrap: wrap; clear: both;">
  <!-- Half-staff flags widget -->
  <div class="widget" style="flex: 1; min-width: 300px; margin-right: 10px;">
    <script src="https://halfstaff.org/widgets/us-half-staff-flags.js"></script>
  </div>
  
  <!-- bands widget -->
  <div class="widget" style="flex: 1; min-width: 300px;">
    <center>
      <a href="https://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!"><img src="https://www.hamqsl.com/solar101pic.php"></a>
    </center>
  </div>

    <!-- MUF widget -->
    <div class="widget" style="flex: 1; min-width: 300px;">
      <center>
        <a href="https://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!"><img src="https://www.hamqsl.com/solarmuf.php"></a>
      </center>
    </div>  
</div>